* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: white;
  text-align: center;
  vertical-align: middle;
}
header {
  height: 10%;
  align-items: center;
  color: black;
}
img#logo {
  align-items: center;
  color: black;
  margin: 6px;
}
section {
  display: flex;
  align-items: top;
}
nav#navBar {
  height: 7%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #f4f4f4;
  padding: 13px 1px;
}
div#media {
  max-width: 100%;
  height: auto;
  background-color: white;
  padding: 1px 1px;
  color: white;
  flex: 1.75;
}
img#giphy {
  border-color: #fff;
  width: 100%;
  height: auto;
  float: left;
  padding: 10px;
}
div#text {
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: white;
  padding-left: 20px;
}
p#dayText {
  text-align: left;
  font-weight: bold;
  font-size: 48px;
  margin: -0.11em 0px 0.11em;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #000000;
  border: none;
}
p#copyText {
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  margin: -2px 0px 2px;
  color: #000000;
  border: none;
}
.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: #011e50;
  background-color: #f4f4f4;
  padding: 0px 8px;
  border: none;
  border-radius: 50px;
  transition: 0ms;
  transform: translateY(0);
  cursor: pointer;
  margin-right: 30px;
}
input#btnLeft {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: #011e50;
  background-color: #f4f4f4;
  padding: 0px 8px;
  border: none;
  border-radius: 50px;
  transition: 0ms;
  transform: translateY(0);
  cursor: pointer;
  margin-right: 30px;
  margin-left: 50px;
}
.btn:active {
  font-weight: bold;
  padding: 0px 8px;
  transform: translateY(-0px);
  background-color: #011e50;
  color: #011e50;
  border: none;
  color: #fff;
}
header,
section,
nav {
  padding: 1em;
}
